.bubble {
  width: 100%;
}

.bubble-content {
  max-width: 600px;
  display: inline-block;
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bubble-content {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.bubble:last-child .bubble-content:before,
.bubble:nth-last-child(2) .bubble-content:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -14px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 18px 18px;
  border-color: transparent transparent #eee transparent;
}
